<div class="min-h-screen bg-[var(--bg)] text-[var(--text)]">
  <div class="max-w-5xl mx-auto px-6 pt-10 pb-16">
    <% cache [@user, "public_profile_header"] do %>
      <%= render PublicProfile::HeaderComponent.new(user: @user) %>
    <% end %>

    <div class="mt-6 grid grid-cols-1 lg:grid-cols-3 gap-6 items-start">
      <div class="lg:col-span-2 space-y-6">
        <% cache ["public_profile_experiences", @user.id, @experiences.cache_key_with_version] do %>
          <%= render PublicProfile::ExperienceSectionComponent.new(experiences: @experiences) %>
        <% end %>

        <% cache ["public_profile_latest_posts", @user.id, @pagy.page, @posts.cache_key_with_version] do %>
          <%= render PublicProfile::LatestPostsSectionComponent.new(
            posts: @posts,
            pagy: @pagy,
          ) %>
        <% end %>
      </div>

      <% cache ["public_profile_links", @user.id, @links.cache_key_with_version] do %>
        <%= render PublicProfile::LinksSectionComponent.new(user: @user, links: @links) %>
      <% end %>
    </div>
  </div>
</div>
