<%= helpers.turbo_frame_tag "new_experience" do %>
  <%= link_to new_path,
              data: { turbo_frame: "new_experience" },
              class: "rounded-lg ring-1 ring-[var(--border)] bg-[var(--surface)]
                      hover:bg-[var(--surface-2)] p-3 flex items-center justify-center
                      h-full min-h-[64px] text-sm" do %>
    <span class="text-xl leading-none mr-2">+</span> Add experience
  <% end %>
<% end %>
